
/*Liner  Gradient  */


.box{
    border: 1px solid black;
    height: 200px;
     width: 150px;

     /* Adding Gradient */
     background-image: linear-gradient(red,blue);
     background-image: linear-gradient(to right,red,blue);
     background-image: linear-gradient(to top,red,blue);
      
    }

    /* Radial gradient */
    .mydiv {
        border: 1px solid black;
        height: 200px;
         width: 150px;
         background-image: radial-gradient(red,blue);
    }
    